In [1]:
import FinanceDataReader as fdr
from pykrx import stock

In [2]:
kospi200_codes = stock.get_index_portfolio_deposit_file("1028")
tickers = [symbol.zfill(6) for symbol in kospi200_codes]

In [3]:
kospi_base = fdr.StockListing('KOSPI') # KOSPI: 940 종목
kospi_base

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,75200,2,-2400,-3.09,77700,78200,75200,30244875,2312008038097,448927647760000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,202500,3,0,0.00,210000,210000,200500,3073139,625798561849,147420478912500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,342000,2,-18000,-5.00,356500,361000,342000,386788,134975298500,80028000000000,234000000,STK
3,005380,KR7005380001,현대차,KOSPI,,261000,2,-4000,-1.51,262500,265000,257000,965532,251331128000,54657625851000,209416191,STK
4,207940,KR7207940008,삼성바이오로직스,KOSPI,,727000,2,-18000,-2.42,739000,747000,726000,89242,65161519000,51743498000000,71174000,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,014915,KR7014911002,성문전자우,KOSPI,,6060,3,0,0.00,6100,6150,6040,791,4795670,3636000000,600000,STK
949,002785,KR7002781003,진흥기업우B,KOSPI,,4055,2,-45,-1.10,4100,4100,4050,96,389065,3476018990,857218,STK
950,001525,KR7001521004,동양우,KOSPI,,5450,2,-20,-0.37,5400,5460,5400,237,1281160,3366633950,617731,STK
951,001527,KR7001522002,동양2우B,KOSPI,,10310,2,-510,-4.71,10820,10820,10310,193,2013020,3181346390,308569,STK
952,002995,KR7002991008,금호건설우,KOSPI,,10270,2,-730,-6.64,10990,10990,10270,935,10001480,3001571820,292266,STK

In [4]:
mask = kospi_base['Code'].isin(kospi200_codes)
kospi200_base = kospi_base[mask]
kospi200_base

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,75200,2,-2400,-3.09,77700,78200,75200,30244875,2312008038097,448927647760000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,202500,3,0,0.00,210000,210000,200500,3073139,625798561849,147420478912500,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,342000,2,-18000,-5.00,356500,361000,342000,386788,134975298500,80028000000000,234000000,STK
3,005380,KR7005380001,현대차,KOSPI,,261000,2,-4000,-1.51,262500,265000,257000,965532,251331128000,54657625851000,209416191,STK
4,207940,KR7207940008,삼성바이오로직스,KOSPI,,727000,2,-18000,-2.42,739000,747000,726000,89242,65161519000,51743498000000,71174000,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,032350,KR7032350001,롯데관광개발,KOSPI,,9730,2,-260,-2.60,9930,9940,9640,556072,5431840560,741288505370,76185869,STK
263,000670,KR7000670000,영풍,KOSPI,,375000,1,5000,1.35,366500,380000,365000,2586,963490000,690765000000,1842040,STK
264,016380,KR7016380008,KG스틸,KOSPI,,6890,1,120,1.77,6740,7040,6740,531508,3672653580,689061300330,100008897,STK
268,005250,KR7005250006,녹십자홀딩스,KOSPI,,14240,2,-220,-1.52,14320,14400,14130,42761,608767590,669681710400,47028210,STK
269,019170,KR7019170000,신풍제약,KOSPI,,12570,2,-180,-1.41,12690,12770,12500,159084,2004055450,666021324300,52984990,STK

In [5]:
kospi_add = stock.get_market_fundamental("20240529", market="KOSPI")
kospi_add

          BPS    PER   PBR    EPS   DIV   DPS
티커
095570   9326  13.58  0.53    367  5.42   270
006840  44339   5.66  0.34   2635  1.34   200
027410  17286   4.45  0.21    813  3.32   120
282330  62197  10.43  1.90  11337  3.47  4100
138930  31746   4.40  0.26   1905  6.08   510
...       ...    ...   ...    ...   ...   ...
079980   8246   0.00  0.47      0  0.00     0
005010  17923   3.40  0.24   1285  5.72   250
000540  20881   0.83  0.18   4664  0.00     0
000545      0   0.00  0.00      0  0.00     0
003280    690  16.30  3.36    142  0.00     0

[924 rows x 6 columns]

In [6]:
mask2 = kospi_add.index.isin(kospi200_codes)
kospi200_add = kospi_add[mask2]
kospi200_add

           BPS       PER   PBR    EPS   DIV    DPS
티커
282330   62197     10.43  1.90  11337  3.47   4100
138930   31746      4.40  0.26   1905  6.08    510
001040  164443     23.46  0.83   5806  2.20   3000
000120  180690     10.10  0.58  10357  0.48    500
097950  446325     14.95  0.81  24081  1.53   5500
...        ...       ...   ...    ...   ...    ...
004800  123794  19900.00  0.48      3  5.03   3000
298050  151670     45.18  2.37   7957  1.81   6500
298020  295349     17.43  1.27  21595  2.66  10000
093370    3235      0.00  2.35      0  0.00      0
081660   31752     55.99  1.25    709  2.75   1090

[200 rows x 6 columns]

In [7]:
kospi200_add.reset_index(inplace=True)

kospi200_add.rename(columns={'티커': 'Code'}, inplace=True)

print(kospi200_add)

       Code     BPS       PER   PBR    EPS   DIV    DPS
0    282330   62197     10.43  1.90  11337  3.47   4100
1    138930   31746      4.40  0.26   1905  6.08    510
2    001040  164443     23.46  0.83   5806  2.20   3000
3    000120  180690     10.10  0.58  10357  0.48    500
4    097950  446325     14.95  0.81  24081  1.53   5500
..      ...     ...       ...   ...    ...   ...    ...
195  004800  123794  19900.00  0.48      3  5.03   3000
196  298050  151670     45.18  2.37   7957  1.81   6500
197  298020  295349     17.43  1.27  21595  2.66  10000
198  093370    3235      0.00  2.35      0  0.00      0
199  081660   31752     55.99  1.25    709  2.75   1090

[200 rows x 7 columns]

/var/folders/pd/rr5wmx7n6691529nwb87fwlc0000gn/T/ipykernel_36537/1981763806.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kospi200_add.rename(columns={'티커': 'Code'}, inplace=True)

In [8]:
kospi200 = kospi200_base.merge(kospi200_add, on='Code', how='inner')
kospi200

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,...,Amount,Marcap,Stocks,MarketId,BPS,PER,PBR,EPS,DIV,DPS
0,005930,KR7005930003,삼성전자,KOSPI,,75200,2,-2400,-3.09,77700,...,2312008038097,448927647760000,5969782550,STK,52002,35.29,1.45,2131,1.92,1444
1,000660,KR7000660001,SK하이닉스,KOSPI,,202500,3,0,0.00,210000,...,625798561849,147420478912500,728002365,STK,77752,0.00,2.60,0,0.59,1200
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,342000,2,-18000,-5.00,356500,...,134975298500,80028000000000,234000000,STK,86328,64.69,3.96,5287,0.00,0
3,005380,KR7005380001,현대차,KOSPI,,261000,2,-4000,-1.51,262500,...,251331128000,54657625851000,209416191,STK,351861,5.71,0.74,45703,4.37,11400
4,207940,KR7207940008,삼성바이오로직스,KOSPI,,727000,2,-18000,-2.42,739000,...,65161519000,51743498000000,71174000,STK,138119,60.33,5.26,12051,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,032350,KR7032350001,롯데관광개발,KOSPI,,9730,2,-260,-2.60,9930,...,5431840560,741288505370,76185869,STK,913,0.00,10.66,0,0.00,0
196,000670,KR7000670000,영풍,KOSPI,,375000,1,5000,1.35,366500,...,963490000,690765000000,1842040,STK,2216785,0.00,0.17,0,2.67,10000
197,016380,KR7016380008,KG스틸,KOSPI,,6890,1,120,1.77,6740,...,3672653580,689061300330,100008897,STK,18893,2.94,0.36,2342,2.90,200
198,005250,KR7005250006,녹십자홀딩스,KOSPI,,14240,2,-220,-1.52,14320,...,608767590,669681710400,47028210,STK,21591,0.00,0.66,0,2.11,300
199,019170,KR7019170000,신풍제약,KOSPI,,12570,2,-180,-1.41,12690,...,2004055450,666021324300,52984990,STK,5259,0.00,2.39,0,0.00,0

In [9]:
kospi200 = kospi200.drop(['Open', 'High', 'Low', 'Volume'], axis=1)
kospi200

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Amount,Marcap,Stocks,MarketId,BPS,PER,PBR,EPS,DIV,DPS
0,005930,KR7005930003,삼성전자,KOSPI,,75200,2,-2400,-3.09,2312008038097,448927647760000,5969782550,STK,52002,35.29,1.45,2131,1.92,1444
1,000660,KR7000660001,SK하이닉스,KOSPI,,202500,3,0,0.00,625798561849,147420478912500,728002365,STK,77752,0.00,2.60,0,0.59,1200
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,342000,2,-18000,-5.00,134975298500,80028000000000,234000000,STK,86328,64.69,3.96,5287,0.00,0
3,005380,KR7005380001,현대차,KOSPI,,261000,2,-4000,-1.51,251331128000,54657625851000,209416191,STK,351861,5.71,0.74,45703,4.37,11400
4,207940,KR7207940008,삼성바이오로직스,KOSPI,,727000,2,-18000,-2.42,65161519000,51743498000000,71174000,STK,138119,60.33,5.26,12051,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,032350,KR7032350001,롯데관광개발,KOSPI,,9730,2,-260,-2.60,5431840560,741288505370,76185869,STK,913,0.00,10.66,0,0.00,0
196,000670,KR7000670000,영풍,KOSPI,,375000,1,5000,1.35,963490000,690765000000,1842040,STK,2216785,0.00,0.17,0,2.67,10000
197,016380,KR7016380008,KG스틸,KOSPI,,6890,1,120,1.77,3672653580,689061300330,100008897,STK,18893,2.94,0.36,2342,2.90,200
198,005250,KR7005250006,녹십자홀딩스,KOSPI,,14240,2,-220,-1.52,608767590,669681710400,47028210,STK,21591,0.00,0.66,0,2.11,300
199,019170,KR7019170000,신풍제약,KOSPI,,12570,2,-180,-1.41,2004055450,666021324300,52984990,STK,5259,0.00,2.39,0,0.00,0

In [10]:
kospi200 = kospi200.drop(['Market', 'Dept', 'ISU_CD', 'MarketId'], axis=1)
kospi200

,Code,Name,Close,ChangeCode,Changes,ChagesRatio,Amount,Marcap,Stocks,BPS,PER,PBR,EPS,DIV,DPS
0,005930,삼성전자,75200,2,-2400,-3.09,2312008038097,448927647760000,5969782550,52002,35.29,1.45,2131,1.92,1444
1,000660,SK하이닉스,202500,3,0,0.00,625798561849,147420478912500,728002365,77752,0.00,2.60,0,0.59,1200
2,373220,LG에너지솔루션,342000,2,-18000,-5.00,134975298500,80028000000000,234000000,86328,64.69,3.96,5287,0.00,0
3,005380,현대차,261000,2,-4000,-1.51,251331128000,54657625851000,209416191,351861,5.71,0.74,45703,4.37,11400
4,207940,삼성바이오로직스,727000,2,-18000,-2.42,65161519000,51743498000000,71174000,138119,60.33,5.26,12051,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,032350,롯데관광개발,9730,2,-260,-2.60,5431840560,741288505370,76185869,913,0.00,10.66,0,0.00,0
196,000670,영풍,375000,1,5000,1.35,963490000,690765000000,1842040,2216785,0.00,0.17,0,2.67,10000
197,016380,KG스틸,6890,1,120,1.77,3672653580,689061300330,100008897,18893,2.94,0.36,2342,2.90,200
198,005250,녹십자홀딩스,14240,2,-220,-1.52,608767590,669681710400,47028210,21591,0.00,0.66,0,2.11,300
199,019170,신풍제약,12570,2,-180,-1.41,2004055450,666021324300,52984990,5259,0.00,2.39,0,0.00,0

In [11]:
kospi200.isna().sum()

Code           0
Name           0
Close          0
ChangeCode     0
Changes        0
ChagesRatio    0
Amount         0
Marcap         0
Stocks         0
BPS            0
PER            0
PBR            0
EPS            0
DIV            0
DPS            0
dtype: int64

In [12]:
kospi200.to_csv('kospi200_raw.csv')